@page "/people"
@using DemoApp2025Spring.Shared
@using DemoApp2025Spring.UI.Services
@inject IPeopleService PeopleService

<h3>People</h3>

<div class="mb-3">
    <a href="/people/add" class="btn btn-primary">Add person</a>
</div>

@if (_people is not null)
{
    <table class="table table-hover border">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var person in _people)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>
                        <a href="/people/@person.Id">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {

    private List<Person> _people;

    protected override async Task OnInitializedAsync()
    {
        _people = await PeopleService.GetPeopleAsync();
    }

}