@page "/people/{id}"
@using DemoApp2025Spring.Shared
@using DemoApp2025Spring.UI.Services
@inject IPeopleService PeopleService
@inject NavigationManager NavigationManager

<h3>Person details</h3>

@if (_person is not null)
{
    <PersonForm Person="_person" OnValidSubmit="UpdateAsync" ButtonText="Update person" />
    
    <button class="btn btn-danger" @onclick="DeleteAsync">Delete person</button>
}
else
{
    <p>Loading...</p>
}

@code {

    private Person _person;

    [Parameter]
    public string Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _person = await PeopleService.GetPersonAsync(Id);
    }

    private async Task DeleteAsync()
    {
        await PeopleService.DeletePersonAsync(Id);
        NavigationManager.NavigateTo("/people");
    }

    private async Task UpdateAsync()
    {
        await PeopleService.UpdatePersonAsync(Id, _person);
        NavigationManager.NavigateTo("/people");
    }
}